/* --------------------------------------------- ESTILO GENERAL ---------------------------------------------------------------------------*/

body{
        background: linear-gradient(rgb(206, 205, 165), rgb(243, 252, 242)) no-repeat center fixed;
        background-size: cover;
}

button:hover{
    filter:saturate(100%);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.Logo{
    width: 100px;
    height: 100px;   
}

.ContenedorLogo{
    margin-left: 0%;
    margin-right: 0%;
    background-color: black;
    margin-top: 10px;
}

h1{text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(0, 0, 0),  
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);

}

h2{text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(0, 0, 0),  
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);

}

/* ------------------------------------------------------------------ INDEX ------------------------------------------------------------- */







.GridIndex {
    display: grid;
    height: 100vh;
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-areas: 
        "header"
        "main"   
        "footer";
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    } 




    .GridIndex div{
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgb(0, 0, 0),  
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
    border: 1px solid rgb(230, 231, 181);
}

.TituloBotones {
    grid-area: header;
}

.CentroIndex {
    grid-area: main;
}

.BotonPedido {
    grid-area: footer;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    text-align: center;
    font-size: 30px;
    font-style: inherit;
    text-shadow: -1px -1px 0 rgb(0, 0, 0),  
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);
    border: 1px solid rgb(230, 231, 181);
}

.ImagenIndex{
    width: 600px;
    height: 300px;
}
.ImagenIndex:hover{
    filter: saturate(180%);transition: ease-in-out 2s;
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #3d3c3b;
    -webkit-box-shadow: 0px 0px 15px 15px #331e0f;
    }

@media (max-width: 1007px) {
    .ImagenIndex{
        width: 500px;
        height: 250px;
    }
    button{
        font-size: 15px;
    }
    .GridIndex{
        grid-template-rows: auto auto auto;
    }
        

        
    }


@media (max-width: 640px){
    .ImagenIndex{
        width: 450px;
        height: 200px;
    
    }
    button{
        font-size: 12px;
    }
    .GridIndex{
        grid-template-rows: auto auto auto;
    }
}


/*----------------------------------------------------- UBICACION -------------------------------------------------------- */


.GridUbicacion{
    display: grid;
    height: 100vh;
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-areas: 
        "headerubi"
        "mapaubi"   
        "footerubi";
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.TituloBotonesUbi{
    grid-template-areas: headerubi;
}

.ContenidoUbi{
    grid-template-areas: mapaubi;
}

.BotonPedidoUbi{
    grid-template-areas: footerubi;
}
.ContenedorLogoUbi{
    margin-left: 0%;
    margin-right: 0%;
    background-color: black;
    margin-top: 10px;
}