@import url(./_variables.scss);;


@mixin alinear {
        display: flex;
        justify-content: center;
        align-items: center; 
}


body{
    background: linear-gradient(rgb(0, 0, 0), rgb(252, 151, 56)) no-repeat center fixed;
    background-size: cover; 
    
    header{
        .titulo {
        
           @include alinear();
            font-size: 40px;
            color: white;
            text-shadow: $sombra;
        }
        .logo{
        width: 200px;
        height: 200px;
        }
    
        .fondologo {
        background-color: black;
        @include alinear();
        }
    }

}


.conteinerCent{
    @include alinear();
}

.CentroIndex{
    @include alinear();

}

.frase{
    @include alinear();
    font-size: 20 px;
    text-shadow: $sombra;
}

.BotonPedido{
    @include alinear();

}
p{
    font-size: 25px;
}

.nav-link:hover{
    background-color: chocolate;
}

.imagen-index{
    width: 900px;
    height: 500px;
}

@media (max-width: 1030px) {
    .imagen-index{
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 680px) {
    .imagen-index{
        width: 500px;
        height: 250px;
    }
}

.carrusel{
    @include alinear();
}

.infofooter{
    @include alinear();;
    text-align: center;
}

.Mapa{
    @include alinear();
}

*.card{
    align-items: center;
    justify-content: center;
    margin: 5px;
    ;
}

select{
    padding: 0.5rem;
  }

.final{
    @include alinear();
    padding-top: 100px;
    padding-left: 0%;
    padding-right: 0%;
}